<div>
    <form name="myForm" class="form-horizontal">
        <div class="panel panel-white">
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label col-md-2">
                        id: 
                    </label>
                    <label class="control-label col-md-10">{{persona.id}}</label>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Nombre:</label>
                    <label class="control-label col-md-2">{{persona.nombre}}</label>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Telefono:</label>
                    <label class="control-label col-md-2">{{persona.telefono}}</label>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Email:</label>
                    <label class="control-label col-md-2">{{persona.email}}</label>
                </div>
            </div>
        </div>
    </form>
</div>